@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;600&display=swap');
 

* {
    font-family: 'Montserrat', sans-serif;
 }

body {
    --bs-body-bg: black;
}
.nav-item {
--bs-nav-link-color: white;
}
.nav-link {
    font-family: 'Montserrat', sans-serif, Helvetica;
    
    border-radius: 50px;
}

.navbar-brand {
    --bs-navbar-brand-color: white;
    font-family: 'Poppins', Helvetica, Arial;
}
.navbar-brand:hover, .navbar-brand:focus{
    --bs-navbar-brand-hover-color: white;
    --bs-navbar-brand-focus-color: white;
}

.product-link {
    display: block;
    margin: 5%;
}
.nav-link:focus, .nav-link:hover {
    --bs-nav-link-hover-color: rgb(0, 0, 0);
    transition: 0.2s  ease-in;
    border-radius: 50px;
    background-color: white;
}
.navbar-toggler-icon {
    color: white;
    border: none;
    box-shadow: none;
}
.image-container {
    padding: 2%;
    margin-top: 3%;
    justify-content: center;
    display: flex;
    cursor: pointer;

}
.product-image1 {
    margin: 5%;
    border-radius: 3cap;
    transition: 0.5s ease-in-out;
}
.product-text {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: unset;
}



.product-image1:hover {
    transform: scale(1.05);
}


.footer {
    height: 25vh;
    background-color: black;
}

